/*---------ALL COLORS----------*/
@dark-red: #A44241;
@light-red: #BE3E3D;
@hover-red: #CF4747;
@home-font-color: #878787;
@pri-font-color: #777777;
@grey-background: #F6F6F6;
@bottom-border: #f5f5f5;
@outer-boder: #E5E5E5;
@inputbox-color: #F8F8F8;
/*---------ALL FONTS-----------*/
/*@font-face {
    font-family: latto-bold;
    src: url(../fonts/latto/Lato-Bol.ttf);
}
@font-face {
    font-family: latto-reg;
    src: url(../fonts/latto/Lato-Reg.ttf);
}*/
rzslider .rz-pointer{ 
    top: -9px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: @dark-red;
}
rzslider .rz-pointer:after{
    display: none;
}
rzslider .rz-bar.rz-selection{
    background-color: @dark-red;
}

@font : 'Open Sans', sans-serif;
.Transition(@props, @time, @animation) {
    transition: @props @time @animation;
    -webkit-transition: @props @time @animation;
    -moz-transition: @props @time @animation;
    -o-transition: @props @time @animation;
}

.BoxShadow(@top, @left, @blur, @radius : 0px, @color) {
    box-shadow: @top @left @blur @radius @color;
    -webkit-box-shadow: @top @left @blur @radius @color;
    -moz-box-shadow: @top @left @blur @radius @color;
    -o-box-shadow: @top @left @blur @radius @color;
}

.Rotate(@props, @time, @animation, @rate) {
    animation: @props @time @animation @rate;
    -webkit-animation: @props @time @animation @rate;
    -moz-animation: @props @time @animation @rate;
    -ms-animation: @props @time @animation @rate;
    -o-animation: @props @time @animation @rate;
}

.BoxSizing {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
}

.BackgroundPosition(@x, @y) {
    background-position: @x, @y;
    -webkit-background-position: @x, @y;
    -moz-background-position: @x, @y;
    -o-background-position: @x, @y;
}

.BorderRadius(@radius) {
    border-radius: @radius;
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    -o-border-radius: @radius;
}


.blur(@blur) {
    filter: blur(@blur);
    webkit-filter: blur(@blur);
    -moz-filter: blur(@blur);
    -o-filter: blur(@blur);
    -ms-filter: blur(@blur);
}

* {
    outline: none;
    .BoxSizing;
    /*.Transition(all,.5s, ease-in-out);*/
}

a { 
    color: black;
    text-decoration: none;
}

a:hover {
    color: #000!important;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0; 
}

html {
    height: 100%;
    width: 100%;
    color: #b8b8b8;
}

body {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
    font-family: latto-reg;
    overflow-x: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
}

 