
<aside class="aside" style="opacity: 0.9;background-image: linear-gradient(to bottom, #3993da, #106cb6);background-repeat: no-repeat;background-size: 100% 100%;">
  <nav class="simpleList asideNavigation">
    <ul>
      <li>
        <a ng-class="{'active_sidelink' : (state_name_navbar=='ToRespond')}" href="/patients-to-respond/">
          <i class="fa fa-h-square zmdi-hc-fw icon"></i> 
          <span class="hidden-xs hidden-sm">To be Responded</span>
        </a>
      </li>
      <li>
        <a ng-class="{'active_sidelink' : ((state_name_navbar=='Confirmedpat'))}" href="/confirmed-patients/">
          <i class="fa fa-wheelchair zmdi-hc-fw icon" aria-hidden="true"></i>    
          <span class="hidden-xs hidden-sm">Confirmed Patients</span>
        </a>                    
      </li>
      <li>
        <a ng-class="{'active_sidelink' : ((state_name_navbar=='PatientsAdmitted') || (state_name_navbar=='PatientsEdit') || (state_name_navbar=='PatientsCreate'))}" href="/patients-admitted/">
          <i class="fa fa-bed zmdi-hc-fw icon" aria-hidden="true"></i>
          <span class="hidden-xs hidden-sm">Patients Admitted</span>
        </a>
      </li>

      <li>
        <a ng-class="{'active_sidelink' : ((state_name_navbar=='Rejectedpat'))}" href="/patients-rejected/">
          <i class="fa fa-heartbeat zmdi-hc-fw icon" aria-hidden="true"></i>    
          <span class="hidden-xs hidden-sm">Rejected Patients</span>
        </a>                    
      </li>
      <li>
        <a ng-class="{'active_sidelink' : (state_name_navbar=='Hospitals' || state_name_navbar=='HospitalsEdit' || state_name_navbar=='HospitalsEdit')}" href="/hospitals/">
          <i class="zmdi zmdi-hospital zmdi-hc-fw icon"></i> <span class="hidden-xs hidden-sm">Hospitals</span>
        </a>
      </li>
    </ul>
  </nav>
</aside>
