<header id="header" style="background-color: #ffffff;box-shadow: 2px 0 4px 0 rgba(230, 230, 230, 0.5);
  border: solid 1px #f4f5f9;">
    <div class="logo" style="margin: 0;">
        <a href class="js-nav-toggler" style="font-size: 18px;font-weight: bold;color: #363f45;">
            <i class="icon icon-close"></i>
        </a>
        <a href="/gp_consultant/main/" title="Home" class="brand-name" style="font-size: 18px;font-weight: bold;color: #363f45;"><img src="../../images/logo_png (2).png" style="height: 40px;margin: 5px;margin-bottom: 7px;">SBS <span>Health</span></a>
    </div>

    <div class="pageContent">
        <ul class="topNavigation">
            <li style="width: 400px;text-align: right;">
                <div class="btn-group simpleList list-sm name-school" style="width: 100%;">
                    <button type="button" class="btn dropdown-toggle name-school" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-controller="profile" style="width: 100%;font-size: 18px;  color: #363f45;text-transform: capitalize;opacity: 0.7; box-shadow: none;font-weight: 100;text-align: right;">
                        {{user.name}}
                        <i class="fa fa-chevron-down"></i>
                    </button>
                    <ul class="dropdown-menu pull-right" style="width: 200px;">
                        <li>
                            <a href="/profile/" class="clearfix" style="color:#9da2a6;">
                                <span class="pull-left" style="color:#9da2a6;"><i class="zmdi zmdi-accounts icon"></i></span>
                                <span class="pull-right info">Profile</span>
                            </a>
                        </li>
                        <li ng-click="user_logout()">
                            <a href class="clearfix" style="color:#9da2a6;">
                                <span class="pull-left" style="color:#9da2a6;"><i   class="fa fa-sign-out icon"></i></span>
                                <span class="pull-right info">LogOut</span> 
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</header>







