<div ui-view data-ng-init="user_init()">
    <div class="loginContentWrap">
        <div class="container">
            <div class="row">
                <div class="hidden-xs col-sm-4 col-md-5 col-lg-6"></div>
                <div class="col-xs-12 col-sm-8 col-md-6 col-lg-5" >
                    <div class="rectangle">
                        <div class="row">
                            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4"><img src="../../images/gif1.gif" id="logo_" alt="" style="height: 90px;"></div>
                            <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8" id="login_company">SBS Health</div>
                        </div>                       
                        <form role="form" ng-controller = "Home">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-12" style="font-size: 18px;font-weight: bold;">
                                        Mobile Number
                                    </div>
                                    <div class="col-lg-12">
                                     <input id="mob" type="text" ng-model="user.mobile" class="simple-input" name="mobile"  class="form-control" placeholder="Mobile Number" autofocus="">
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                </div>
                                <div class="row" style="position: relative;top: -20px;">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-muted text-left" style="font-size: 14px;text-decoration: underline;line-height: 80px;cursor: pointer;color: #363f45 !important;opacity: 0.5;">
                                    </div>
                                    <div class="col-lg-5 col-lg-offset-1">
                                        <button class="btn btn-xs bg-green" ng-click="user_login()" type="submit"style="line-height: 20px;font-size: 15px;">SEND OTP</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>





<div id="otpBox" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3 class="modal-title" style="text-align: center">OTP Verification</h3>
            <img src="../../images/gif1.gif" id="logo_" alt="" style="height: 150px; margin-left:40% !important;">
          </div>
          <div class="modal-body" ng-controller="Home">
            <div class="row signup-form">
                <div class="form-group center">
                    <input id="inputSearch" style="position: relative;left: 50%;margin-left: -100px; width: 200px;" type="text" name="code" ng-model="user.otp" class="form-control lf-pwd" placeholder="Enter OTP Code">
                    <div class="form-group" id="keyfunc">
                        <button class="buttons_ btn signup-btn" style="margin-left:43% !important;" ng-click="verify_user_otp()">Verify</button>
                    </div>
                    <div class="form-group ta-center signup-link-wrap" style="text-align:center">
                        <p>
                            <a ng-click="resend_user_otp()" style="cursor: pointer;">Resend OTP Code
                            </a>
                        </p>
                    </div>
                </div>
            </div>
          </div>
          <div class="modal-footer">
          </div>
        </div>
    </div>
</div>


<div id="redirectBox" class="modal fade" role="dialog" ng-controller="Home">
  <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <div>
                  <h4 class="modal-title" ng-repeat="message in message_to_show">
                  {{message}}
                  </h4>
              </div>
          </div>
      </div>
  </div>
</div>