<div ng-include src="'views/gp_consultant/header.html'"></div>
<div ng-include src="'views/gp_consultant/aside.html'"></div>


<div class="pageContent extended" data-ng-init="profile_init()">
	<div class="row">
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
			<h1 class="pageTitle">
				<a href="/#/gp_consultant/main/school-profile/">Consultant Profile</a>
			</h1>
			<ol class="breadcrumb">
				<li><a href="/#/gp_consultant/main/">Dashboard</a></li>
				<li class="active">Profile</li>
			</ol>
		</div>
		
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
			<h1 class="pageTitle">
				<button class="btn bg-red" ng-click="reset_mobile()">Reset Mobile Number</button>
			</h1>
		</div>
	</div>
	
	<div class="box" style="padding: 20px 30px 20px 30px;">
		<div class="row">
		  	<div class="col-xs-12 col-sm-4 col-md-6 col-lg-6"">
		  		<div class="profile_heading">Consultant Details</div>
		  		<div class="form-group">
					<label for="basicInput" class="profile-label">Name</label>
					<span  class="label-detail">{{particular_profile.consultant.name}}</span>
				</div>
				<div class="form-group">
					<label for="basicInput" class="profile-label">Address</label>
					<span  class="label-detail">{{particular_profile.consultant.address}}</span>
				</div>				
	        </div>
	        <div class="col-xs-12 col-sm-4 col-md-6 col-lg-6">
		  		<div class="profile_heading">Point of Contact</div>
		  		<div class="form-group">
					<label for="basicInput" class="profile-label">Designation</label>
					<span class="label-detail" class="label-detail">{{particular_profile.consultant.designation}}</span>
				</div>
				<div class="form-group">
					<label for="basicInput" class="profile-label">Mobile Number</label>
					<span class="label-detail">{{particular_profile.consultant.mobile}}</span>
				</div>
				<div class="form-group">
					<label for="basicInput" class="profile-label">Email</label>
					<span class="label-detail">{{particular_profile.consultant.email}}</span>
				</div>
	        </div>
	    </div>

	    <div class="row">	 
	        
	    </div>
	</div>
</div>
<div id="otpBox" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          	<div class="modal-header">
	            <button type="button" class="close" data-dismiss="modal">&times;</button>
             		<div class="row">
						<div class="col-lg-12" style="font-size: 20px"> New Mobile Number</div>
						<div class="col-lg-12">
							<input id="mob" type="text" ng-model="change_number.mobile" class="simple-input" name="mobile"  class="form-control"   placeholder="Mobile Number" autofocus="">
						    <div class="col-lg-5 col-lg-offset-1">
					     		<button class="btn btn-xs bg-green" ng-click="change_number(change_number.mobile)" type="submit"style="line-height: 20px;font-size: 15px;">SEND OTP</button>
					  		</div>
						</div>
              		</div>
	            </div>
         	</div>
      </div>
 </div>

<div id="otpVeri" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
      		<div class="modal-header">
	            <button type="button" class="close" data-dismiss="modal">&times;</button>
	         	<h4 class="modal-title">OTP Verification</h4>
         	</div>

          	  <div class="modal-body">
                  <div class="row signup-form">
              	      <div class="form-group center">
                    	  <input id="inputSearch" style="position: relative;left: 50%;margin-left: -100px;width: 220px;" type ="text" name="code" ng-model="change_number.otp" class="form-control lf-pwd" placeholder="Enter   OTP Code">
                             <div class="form-group" id="keyfunc">
                        	     <button class="buttons_ btn signup-btn" ng-click="verify_changed_otp(change_number.otp)">Verify
                        	     </button>
                             </div>
                              <div class="form-group ta-center signup-link-wrap">
                      	         <p>
                       	            <a ng-click="change_number()" style="cursor: pointer;">Resend OTP Code</a>
                      	         </p>
                            </div>
          		       </div>
          		   </div>
         	    </div>
         	  <div class="modal-footer">
           </div>
        </div>
    </div>
</div>

