
<div ng-include src="'views/gp_consultant/header.html'"></div>
<div ng-include src="'views/gp_consultant/aside.html'"></div>

  
<div class="pageWrap" data-ng-init="patient_toRespond_init()" ui-view>
  <div class="pageContent extended">
    <div class="box" style="overflow: scroll;">
      <div class="col-sm-4 col-xs-4 col-md-4 col-lg-4">
        <h2 class="boxHeadline">Patients to Respond</h2>
        <h3 class="boxHeadlineSub">{{total_allpatient_count}} Total</h3>
      </div>

      <div class="col-sm-4 col-xs-4 col-md-4 col-lg-4">
      
      </div>

      <div class="col-sm-4 col-xs-4 col-md-4 col-lg-4">
        <div class="input-group custom-search-form" ng-controller="patientsReferred" >
          <input type="text" class="simple-input" placeholder="Search..." ng-model="search"  ng-keyup="$event.keyCode == 13 && search_function()">
          <span class="input-group-btn" ng-click="search_function()">
            <button class="btn btn-default btn-addon" type="button">
              <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
      </div> 
            
<div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
    <div class="table-responsive">
        <table class="table">
          <thead class="table-head">
            <tr>
              <th>S.N.</th>
              <th>Patient Details</th>
              <th>GP Details</th>
              <th>Treatments</th>
              <th>Date</th>
              <th>Status</th>                                
            </tr>
          </thead>
            <tbody class="table-body" data-ng-repeat = "patient in array_of_patientsReferred" data-ng-switch on="dayDataCollapse[$index]">
              <tr ng-mouseenter="view=true" ng-mouseleave="view=false">
                <td>{{(page_count-1)*10 +($index + 1)}}</td>
                <td data-ng-click="selectTableRow($index, patient.referred_patient.name)" style="cursor: pointer;" 
                class="onhover" id="name">
                  {{patient.referred_patients_visit.referred_patient.name}}<br>{{patient.referred_patients_visit.referred_patient.age}}/{{patient.referred_patients_visit.referred_patient.gender}}</td>
                <td>
                  {{patient.referred_patients_visit.referred_patient.referred_gp.name}}<br>{{patient.referred_patients_visit.referred_patient.referred_gp.mobile}}
                </td>
                <td>
                  <span ng-repeat = "treatment in patient.referred_patients_visit.treatment">
                    {{treatment.name}},
                  </span>
                <td>{{patient.created_at}}</td>
                <td>
                    {{patient.status_update}}
                </td> 
              </tr>

                <tr data-ng-switch-when="true">
                  <td colspan="9" style="height:250px"> 
                   
                  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="margin-top: 30px;margin-bottom: 30px;">
                    <div id="mapAddress" style="height: 300px;"></div>  
                  </div>

                                                        
                    <div id="div" class="col col-span-6" class="col-sm-6 col-xs-6 col-md-6 col-lg-6 text-left" style=" margin-left: 40%;">
                      <div class="grid_6 prefix_2">
                      <h2>Available  Hospitals</h2>         
                        <div class="item1">                                  
                          <div class="fig-img"><i class="fa fa-hospital-o" style="font-size:48px;"></i>
                           <div class="btn-group">
                              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 100%;font-size: 18px;  color: #363f45;text-transform: capitalize;opacity: 0.7; box-shadow: none;font-weight: 100;text-align: right; margin-top:5%;  border: solid 1px rgba(54, 63, 69, 0.15); background-color: white;">
                                <span ng-if="selected_hospital==null" style="font-size: 14px;color: #363f45;">
                                    All Hospitals
                                    <i class="fa fa-chevron-down"></i>
                                </span>
                                <span ng-if="selected_hospital" style="font-size: 14px;color: #363f45;">
                                    {{selected_hospital}} 
                                    <i class="fa fa-chevron-down"></i>
                                </span>
                              </button>
                                <ul class="dropdown-menu">                      
                                  <li ng-repeat="hospital in array_of_hospital_referred" ng-click="select_hospital(hospital)"><a href> {{hospital.hospital_referred.name}}</a></li>
                                </ul>
                           </div>                          
                          </div>                
                        </div> 
                      </div>

                        <button class="c-select-button" style="margin-top: 15%; margin-left:5% " ng-click="select_hospital()" aria-pressed="false" name="multi-example" data-select-button-multiselect="true">select Hospital</button>

                      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-10" style="margin-left:20%; margin-bottom:5%">
                          <div class="card"> 
                            <div class="card_header">
                                Availability
                            </div>
                            <div class="row">                             
                            </div>
                            <div><h4>DISTANCE :{{}}</h4></div>
                          </div>
                          <br>                
                      </div> 


                      <div style="margin-left:20%; margin-top:5% ">
                       <form class="form-horizontal" role="form" style="margin-top: 5%">

                        <div class="form-group">
                          <label for="origin" class="col-sm-2 control-label">Origin</label>
                          <div class="col-sm-4">
                            <input type="text" id="origin" class="form-control" ng-model="directions.origin" />
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="destination" class="col-sm-2 control-label">Destination</label>
                          <div class="col-sm-4">
                            <input type="text" id="destination" class="form-control" ng-model="directions.destination" />
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-sm-offset-2 col-sm-8">
                            <button class="btn btn-primary" ng-click="getDirections()">Get Directions</button>
                          </div>
                        </div>
                       </form>
                      <div id="directionsList" ng-show="directions.showList" class="panel panel-primary"></div>   
                      </div>
                    </div>
                               
                  <div id="submitdata" class="col-sm-12 col-xs-12 col-md-12 col-lg-12 text-right">
                    <div class="container">
                      <a href="" title="Button border blue/green" class="button btnBorder btnBlueGreen">Submit</a>
                    </div>
                  </div>                                  
                  </td>
                </tr>
            </tbody>
        </table>
    </div>
          
            
    <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
      <div class="text-left col-sm-6 col-xs-6 col-md-6 col-lg-6">
        <div class="" style="line-height: 40px;">
          Showing {{((page_count-1)*10)+1}} to 
          <span ng-if="total_allpatient_count<10">{{total_allpatient_count}}</span>
          <span ng-if="!(total_allpatient_count<10)">{{((page_count)*10)}}</span>
           of {{total_allpatient_count}} Patients.
        </div>
      </div>
      <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6 text-right">
        <nav class="paginationNav">
          <ul class="pagination" style="margin: 0;">
            <li>
              <a href aria-label="Previous" ng-click="pagination_count_update(-1, 'call_patientStatus_api')" ng-disabled="disable_prev">
                <i class="fa fa-angle-left"></i>
              </a>
            </li>
            <li ng-repeat = "i in getNumber(max_number_of_pages) track by $index | limitTo: '3'" ng-class="{'active' : $index+1==page_count}" ng-click="page_count_change($index+1, 'call_patientStatus_api')" ng-if="$index + 1 - page_count < 2 && page_count-$index-1<2">
              <a href>
                <span>
                  {{$index+1}}
                </span>
              </a>
            </li>                           
            <li>
              <a href aria-label="Next" ng-click="pagination_count_update(1)" ng-disabled="disable_next">
                <i class="fa fa-angle-right"></i>
              </a>
            </li>
          </ul>  
        </nav>
      </div>
    </div>
</div>
</div>
</div>

<style>

li{   
    display: inline-block
}

.angular-google-map-container {
  height: 400px;
  margin-bottom: 0px;
}

.panel-primary {
  padding: 0px;
}
#floating-panel {
        position: relative;
        top: 10px;
        left: 0%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 0px;
}

.angular-google-map-container {
  height: 100%;
  
}

.panel-primary {
  padding: 15px;
}

.container {
  padding-top: 1em;
  margin-top: 1em;
  border-top: 
    solid
    1px
    #CCC;
}
a.button {
  display: block;
  position: relative;
  float: right;
  width: 120px;
  padding: 0;
  margin: 10px 20px 10px 0;
  font-weight: 600;
  text-align: center;
  line-height: 50px;
  color: #fff;
  background-color:#912CEE;
  border-radius: 5px;
  transition: all 0.2s ;
}

.btnBlueGreen.btnBorder {
  box-shadow: 0px 0px 0px 0px #551A8B;
}

.btnBlueGreen.btnBorder:hover {
  box-shadow: 0px 0px 0px 5px #551A8B;
}
.balloon {
  // As suggested by https://twitter.com/dbox/status/365888496486985728
  display: inline-block;
  width: 215px;
  padding: 10px 0 10px 15px;
  font-family: "Open Sans", sans;
  font-weight: 400;
  color: #377D6A;
  background: #efefef;
  border: 0;
  border-radius: 3px;
  outline: 0;
  text-indent: 60px; // Arbitrary.
  transition: all .3s ease-in-out;
}
.fa-hospital-o{

    color: #008B00;
    
}


</style>
