<div ui-view data-ng-init="user_init()">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                    </div>
                    <div class="panel-body">
                        <a href="/schooladmin/">
                            <button class="btn btn-lg btn-success btn-block"> 
                                SchoolAdmin Login 
                            </button>
                        </a>

                        <a href="/superuser/"">
                            <button class="btn btn-lg btn-success btn-block" ng-click="schooladmin_login()"> 
                                Superuser Login
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
