<div ng-include src="'views/gp_consultant/header.html'"></div>
<div ng-include src="'views/gp_consultant/aside.html'"></div>

<div class="pageWrap" data-ng-init="hospital_init()" ui-view>
    <div class="pageContent extended">
        <div class="box" style="overflow: scroll;">
            <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6">
                <h2 class="boxHeadline">All Hospitals</h2>
                <h3 class="boxHeadlineSub">{{total_hospitals_count}} Total</h3>
            </div>
            <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6">
                <div class="input-group custom-search-form">
                    <input type="text" class="simple-input" placeholder="Search..." ng-model="search" ng-keyup="$event.keyCode == 13 && search_function()">
                    <span class="input-group-btn" ng-click="search_function()">
                        <button class="btn btn-default btn-addon" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>
            
            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="table-head">
                            <tr>
                                <th>S.N.</th>
                                <th>Hospital Name</th>
                                <th>Address</th>
                                <th>Latitude</th>
                                <th>Longitude</th>
                                <th>Availability</th>
                            </tr>
                        </thead>
                        <tbody class="table-body">                          
                            <tr ng-repeat = "hospitals in array_of_hospitals"  ng-mouseenter="view=true" ng-mouseleave="view=false">
                                <td>{{(page_count-1)*10 +($index + 1)}}</td>
                                <td  ng-click="hospital_page(hospitals.id)" style="cursor: pointer;" 
                                >{{hospitals.name}}</td>
                                <td>{{hospitals.address}}</td>
                                <td>{{hospitals.latitude}}</td>
                                <td>{{hospitals.longitude}}</td>
                                <td></td>
                            </tr>                          
                        </tbody>
                    </table>
                </div>
            </div>
            
            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
                <div class="text-left col-sm-6 col-xs-6 col-md-6 col-lg-6">
                    <div class="" style="line-height: 40px;">
                        Showing {{((page_count-1)*10)+1}} to 
                        <span ng-if="total_classes_count<10">{{total_classes_count}}</span>
                        <span ng-if="!(total_classes_count<10)">{{((page_count)*10)}}</span>
                         of {{total_patientsVisits_count }} Patients.
                    </div>
                </div>
                <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6 text-right">
                    <nav class="paginationNav">
                        <ul class="pagination" style="margin: 0;">
                            <li>
                                <a href aria-label="Previous" ng-click="pagination_count_update(-1, 'students_list')" ng-disabled="disable_prev">
                                    <i class="fa fa-angle-left"></i>
                                </a>
                            </li>
                            <li ng-repeat = "i in getNumber(max_number_of_pages) track by $index | limitTo: '3'" ng-class="{'active' : $index+1==page_count}" ng-click="page_count_change($index+1, 'classrooms_list')" ng-if="$index + 1 - page_count < 3 && page_count-$index-1<3">
                                <a href>
                                    <span>{{$index+1}}</span>
                                </a>
                            </li>
                            <li>
                                <a href aria-label="Next" ng-click="pagination_count_update(1, 'classrooms_list')" ng-disabled="disable_next">
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>










